PyPDF2
scikit-learn
python-docx
joblib
sentence-transformers
spacy
matplotlib
nltk
xgboost
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
